.cat-01 {
  .wrapper {
    background: #81ccafa2;
  }
}
.cat-02 {
  .wrapper {
    background: #7cb8c29c;
  }
}
.cat-03 {
  .wrapper {
    background: #9274a38e;
  }
}
.cat-04 {
  .wrapper {
    background: #be7e9f9a;
  }
}
