.cat-01 {
  .wrapper {
    background: #81ccaf;
  }
}
.cat-02 {
  .wrapper {
    background: #7cb7c2;
  }
}
.cat-03 {
  .wrapper {
    background: #9274a3;
  }
}
.cat-04 {
  .wrapper {
    background: #be7e9f;
  }
}
