.Experiment {
  .wrapper {
    background: #81ccafa2;
  }
}
.Breeding {
  .wrapper {
    background: #81e8fa9c;
  }
}
.Material.Identity {
  .wrapper {
    background: #9274a38e;
  }
}
.Material.Inventory {
  .wrapper {
    background: #e0e6b294;
  }
}
.Planting {
  .wrapper {
    background: #be7e9f9a;
  }
}
